.messageBar {
	position: fixed;
	z-index: 3;
	width: 100%;
	padding-top: 1.5rem;
}

.messageBar > p, .messageBar > span {
	background: #e93131;
	color: #191A19;
	padding: .6rem 2.5rem;
	font-weight: bold;
	position: relative;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
	border-radius: .5rem  0 0 .5rem ;
}

.messageBar > span {
	background: #fa5050;
	padding: .6rem 1rem;
	border-radius: 0 .5rem .5rem 0;
	transition: ease .3s;
	cursor: pointer;
}

.messageBar > span:hover {
	background: #f0f8ff;
}


/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/