.signin-container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#2C5364, #203A43, #0F2027);
  display: grid;
  place-items: center;
}

.signin-container section {
  margin: 1rem 0;
  width: 60rem;
  max-height: 40rem;
  height: 100%;
  position: relative;
  display: flex;
  color: #E8E8EA;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signin-secondary {
  width: 20%;
  height: 100%;
  background: #201f1f;
  border-radius: 2rem 0 0 2rem;
}

.signin-secondary .background-secondary {
  border-radius: 2rem 0 0 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signin-secondary .logo {
  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
  width: 8rem;
  filter: drop-shadow(0 0 8px #00000048);
}

.signin-primary {
  background: #0c0d0c;
  border-radius: 0 2rem 2rem 0;
  width: 80%;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.signin-primary h1 {
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  text-transform: uppercase;
}

.signin-primary form {
  width: 100%;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-primary form .loginDatas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: .5rem;
  border: none;
}

.signin-primary .botao {
  margin-top: 2rem;
}

.signin-primary .cadastro {
    margin-top: .5rem;
    background: none;
    color: #E8E8EA;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: ease .3s;
}

.signin-primary .cadastro:hover {
  color: #4E9F3D;
  text-decoration: underline 2px solid #4E9F3D;
}

@media (max-width: 1024px) {
  .signin-container section {
    width: 90%;
    max-height: 45rem;
    height: 100%;
  }

  .signin-primary h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .signin-secondary {
    width: 40%;
    height: 100%;
  }

  .signin-primary {
    width: 60%;
    padding: 5rem 2rem;
  }

  .signin-primary form .botao {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .signin-container section {
    flex-direction: column;
  }

  .signin-primary {
    border-radius: 0 0 2rem 2rem;
    width: 100%;
    height: 90%;
    padding: 1rem;
  }
  
  .signin-primary form .cadastro{
    font-size: 1rem;
  }

  .signin-primary h1 {
    font-size: 2rem;
  }

  .signin-secondary .logo {
    width: 13rem;
    top: .6rem;
    left: initial;
  }

  .signin-secondary .background-secondary {
    border-radius: 2rem 2rem 0 0;
  }

  .signin-secondary {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .signin-container section {
    width: 95%;
  }
}


/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/