.navBar-container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  z-index: 999;
  padding-bottom: 1rem;
}

.navBar-container * {
  z-index: 2;
} 

.navBar-container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 6rem;
  color: #777;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.navBar-container input[type="radio"]:checked + label {
  color: #D8E9A8;
}

.navBar-container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(-60%);
}

.navBar-container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(60%);
}

.glider {
  position: absolute;
  display: flex;
  height: 1.9rem;
  width: 5.8rem;
  background-color: #1E5128;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}


/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/