.createPostContainer {
	padding: 1rem 1rem;
	background: #141514;
	border-radius: .5rem;
	margin-bottom: 1rem;
	max-width: 100%;
	max-width: 600px;
	width: 100%;
}

.createPostContainer.reply {
	border-radius: 0;
}

.isCommentOf {
	color: #4E9F3D;
	font-size: .8rem;
	padding-left: .5rem;
}

.createPost-topArea {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.postConfigs {
	padding-top: .3rem;
	gap: .8rem;
	justify-content: space-between;
}

.select-privatePost {
	background: none;
	padding: .3rem .8rem;
	border: 2px solid #F2ECFF;
	color: #F2ECFF;
	border-radius: 2rem;
	cursor: pointer;
}

.select-privatePost.private {
	border: 2px solid #c6c2ce;
	color: #c6c2ce;
}

.select-privatePost:hover {
	background: #0000005d
}

.select-privatePost:focus {
	border: 2px solid #4E9F3D;
	outline: none;
}
.select-privatePost.public:hover {
	border: 2px solid #4E9F3D;
	color: #eee;
}

.select-privatePost.private:focus {
	border: 2px solid #DA0037;
}
.select-privatePost.private:hover {
	border: 2px solid #DA0037;
}

.postPerms {
	display: inline-flex;
	align-items: center;
	padding-right: .8rem;
}

.postPerms input {
	height: 1rem;
	width: 1rem;
	margin: 5px;
	display: inline-block;
	appearance: none;
	position: relative;
	background-color: #F2ECFF;
	border-radius: 15%;
	cursor: pointer;
	overflow: hidden;
}

.postPerms input::after {
	content: '';
	display: block;
	height: 0.8rem;
	width: .4rem;
	border-bottom: .21rem solid #b7fca7;
	border-right: .21rem solid #b7fca7;
	opacity: 0;
	transform: rotate(45deg) translate(-50%, -50%);
	position: absolute;
	top: 41%;
	left: 15%;
	transition: .25s ease;
}

.postPerms input::before {
	content: '';
	display: block;
	height: 0;
	width: 0;
	background-color: #4E9F3D;
	border-radius: 50%;
	opacity: .5;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s ease;
}

.postPerms input:checked::before {
	height: 140%;
	width: 140%;
	opacity: 100%;
}

.postPerms input:checked::after {
	opacity: 100%;
}

.postPerms label {
	color: #eee;
	font-weight: bold;
	font-size: .8rem;
	cursor: pointer;
}

.postPerms:not(:has(input:checked)) label {
	opacity: .7;
}

.createPost-topArea textarea {
	resize: none;
	min-width: 100%;
	max-height: 9rem;
	min-height: 4rem;
	line-height: 1.5rem;
	background: none;
	border: none;
	background: #323432;
	border-radius: .3rem;
	font-size: 1.4rem;
	color: #eee;
	padding: .8rem 1rem;
	transition: outline ease .3s;
}

.createPost-topArea textarea:focus {
	outline: 2px solid #4E9F3D;
}

.images-container {
	margin-top: .5rem;
	display: flex;
	gap: .5rem;
	overflow-x: auto;
	list-style: none;
	background: #0505057a;
	border-radius: .4rem;
	padding: .5rem;
}

.images-container li {
	position: relative;
}

.images-container img {
	height: 100px;
	aspect-ratio: 1/1;
	object-fit: contain;
	border-radius: .5rem;
	background: #c6c2ce;
}

.images-container i {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5rem .7rem;
	cursor: pointer;
	color: #fff;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.384));
	transition: ease .3s;
}

.images-container li:has(i:hover) > img {
	opacity: .5;
}

.images-container i:hover {
	color: #DA0037;
	scale: 1.1;
}

.createPost-bottomArea {
	justify-content: space-between;
	gap: 1rem;
	padding: 0 .8rem;
	padding-top: .5rem;
}

.uploadImage input {
	display: none;
}

.uploadImage label {
	color: #eee;
	font-size: 1.2rem;
	cursor: pointer;
	transition: ease .3s;
	display: flex;
}

.uploadImage label:hover {
	color: #4E9F3D;
}


@media (min-width: 540px) {	
	.createPostContainer {
		padding: 1rem 1.5rem;
	}
	
	.createPost-topArea {
		gap: .8rem;
	}
	
	.isCommentOf {
		font-size: .9rem;
	}

	.postConfigs {
		padding-top: 0;
	}
	
	.select-privatePost {
		padding: .5rem 1.6rem;
	}
	
	.postPerms input {
		height: 1.3rem;
		width: 1.3rem;
	}
	
	.postPerms input::after {
		top: 43%;
		left: 18%;
	}
	
	.postPerms label {
		font-size: .9rem;
	}
	
	.images-container img {
		height: 120px;
	}
	
	.createPost-bottomArea {
		gap: 1rem;
		padding: 0 .8rem;
		padding-top: .5rem;
	}
	
	.uploadImage label {
		font-size: 1.3rem;
	}

}

/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/
