* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif;
}

html, body {
  min-height: 100%;
  /* color: aliceblue; */
}

#root {
  height: 100%;
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: #1E5128;
  color: #D8E9A8;
}