.postContainer {
  background: #0c0d0c;
  color: #f2fff0;
  padding: 1rem 1rem;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.404);
  margin-bottom: .5rem;
  border-bottom: 2px solid #333;
  border-bottom: 2px solid #da003783;
  border-radius: .5rem;
  position: relative;
  transition: ease .3s;
  width: 100%;
  max-width: 600px;
}

.postContainer:hover {
  background: #0f100f;
}

.comment {
  border-radius: 0;
  position: relative;
  border-bottom: 2px solid #333;
}

.comment::before {
  content: "";
  position: absolute;
  background: #da003783;
  width: .15rem;
  height: 100%;
  left: 2.2rem;
  bottom: 0;
}

.comment .postContent {
  padding-left: 2.5rem;
  display: block;
}

.topPost-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.infoContainer span {
  font-size: 1.2rem;
  color: #fbf0ff;
  position: relative;
  transition: ease .3s;
  cursor: pointer;
}

.infoContainer span:hover {
  color: #46b130;
}

.infoContainer p {
  font-size: .7rem;
  color: #aaaaaa;
}

.isComment {
  display: block;
  color: #4E9F3D;
  font-size: .8rem;
  padding-top: .3rem;
  padding-left: .3rem;
  position: relative;
  width: fit-content;
  bottom: -.5rem;
  cursor: pointer;
}

.isComment:hover {
  color: #46b130;
}

.isComment span::before {
  content: "@";
}

.postContent {
  text-decoration: none;
  color: inherit;
}

.postContent > p {
  padding: .8rem .3rem;
  padding-bottom: .5rem;
  font-size: 1.3rem;
  color: #e7e7e7;
}

.postContent:has(img) > p {
  padding-bottom: 1rem;
}

.postContent > img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.274);
}

@media (min-width: 550px) {	
  .postContainer {
    padding: 1.5rem 1.5rem;
  }
  
  .comment::before {
    left: 2.9rem;
  }
  
  .comment .postContent {
    padding-left: 3.5rem;
  }

  .infoContainer span {
    font-size: 1.3rem;
  }
  
  .infoContainer p {
    font-size: .8rem;
  }
  
  .isComment {
    font-size: .85rem;
  }

  .postContent {
    display: flex;
    flex-direction: column;
    padding-left: 3.5rem;
  }
  
  .postContent > p {
    padding-bottom: .5rem;
    font-size: 1.4rem;
  }
  
  .postContent > img {
    background: #191A19;
    align-self: center;
    height: fit-content;
    max-width: 700px;
  }
}
/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/
