.userContainer-link {
  text-decoration: none;
  width: fit-content;
}

.userContainer {
  display: flex;
  width: fit-content;
  gap: .5rem;
}

.userContainer img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
}

.userContainer>span {
  padding-top: .1rem;
}

.userContainer span .username {
  font-size: .9rem;
  color: #fbf0ff;
  font-weight: bold;
}

.userContainer .verified span {
  color: #4E9F3D;
  position: relative;
  top: .15rem;
  left: .3rem;
  font-size: 1rem;
}

.userContainer span .tag {
  font-size: .7rem;
  color: #aaaaaa;
}

.userContainer span .tag::before {
  content: "@";
}

@media (min-width: 550px) {
  .userContainer {
    gap: .8rem;
  }

  .userContainer img {
    height: 3rem;
    width: 3rem;
  }

  .userContainer>span {
    padding-top: .2rem;
  }

  .userContainer span .username {
    font-size: 1.1rem;
  }

  .userContainer .verified span {
    font-size: 1.1rem;
  }

  .userContainer span .tag {
    font-size: .8rem;
  }
}