.profilePage-container {
	flex-direction: column;
  width: 100%;
	background: #191A19;
}

.profileDatas-container {
	width: 100%;
  max-width: 600px;
	color: #eee;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.404);
}

.profile-top-container {
	position: relative;
}

.profile-banner {
	position: relative;
	height: 12rem;
	width: 100%;
	border-bottom: 4px solid #191A19;
	outline-offset: -4px;
	background: #1E5128;
}

.profile-banner .banner-picture-img {
	border-radius: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}

.profile-banner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #0000008c, #00000000 30%);
}

.profile-banner label {
	position: absolute;
	right: 1.5rem;
	top: 1rem;
	font-size: 1rem;
	color: #191A19;
	background: #eee;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 2rem;
	cursor: pointer;
	z-index: 1;
  display: grid;
  place-items: center;
	transition: ease .3s;
}

.profile-banner label:hover {
	color: #1E5128;
	transform: scale(1.2);
}

.profile-banner input[type="file"] {
	display: none;
}

.profile-picture-container {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	outline: 4px solid #191A19;
	z-index: 1;
	position: absolute;
	bottom: -2rem;
	left: 1.5rem;
	background: #D8E9A8 url("https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg") no-repeat center;
	background-size: cover;
}

.profile-picture-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	outline: 4px solid #191A19;
}

.profile-picture-container input[type="file"] {
	display: none;
}

.profile-picture-container label {
	top: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #eee;
	transition: ease .3s;
	font-size: 0;
  display: grid;
  place-items: center;
}

.profile-picture-container:hover label {
	opacity: 1;
	font-size: 1.5rem;
}

.profile-bottom-cotainer {
	padding: 1rem;
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
	background: #050505;
	position: relative;
}

.profile-infoBtn {
	position: absolute;
  right: 1rem;
	top: .5rem;
	padding: .5rem 1.5rem;
	padding-right: 2.5rem;
	border-radius: 2rem;
	border: 2px solid #4E9F3D;
	color: #4E9F3D;
	background: none;
	transition: .3s ease;
	cursor: pointer;
}

.profile-infoBtn input[type="checkbox"] {
	display: none;
} 

.profile-infoBtn:has(input:checked) {
	border: 2px solid #9e9e9e;
	background: none;
	color: #9e9e9e;
}

.profile-infoBtn span {
	position: absolute;
	top: .45rem;
	right: 1rem;
	font-size: 1.1rem;
}

.profile-infoBtn.edit span {
	top: .30rem;
	right: 1rem;
}

.userInfo-container {
	display: flex;
	flex-direction: column;
	gap: .8rem;
}

.userInfo-name {
	font-size: 1.3rem;
	color: #eee;
	width: fit-content;
	position: relative;
}

.userInfo-name span {
	position: absolute;
	right: -1.5rem;
	top: .1rem;
	font-size: 1.2rem;
	color: #4E9F3D;
}

.userInfo-tag {
	font-size: .8rem;
	font-weight: normal;
	color: hsl(0, 0%, 40%);
}

.userInfo-bio {
	border-radius: .3rem;
}

.userInfo-bio p {
	color: #c7c7c7;
	font-size: .85rem;
	padding-right: 2rem;
}

.userInfo-follows {
	display: flex;
	gap: 1rem;
	font-weight: bold;
	font-size: .9rem;
}

.userInfo-follows span {
	font-weight: normal;
}

.profile-posts {
	/* border-top: 2px solid #1E5128; */
	margin-top: .5rem;
	width: 100%;
  max-width: 600px;
}

.profile-posts > :first-child {
	border-radius: .7rem .7rem 0 0;
}

.cropImage-container {
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
}

.cropImage-container button {
	padding: .5rem 1rem;
}

@media (min-width: 550px) {	
	.profile-banner {
		height: 11rem;
		object-fit: cover;
	}
	
	.profile-banner label {
		font-size: 1.4rem;
		width: 2.3rem;
		height: 2.3rem;
	}
	
	.profile-picture-container {
		height: 6.5rem;
		width: 6.5rem;
		bottom: -2.5rem;
		left: 2rem;
	}
	.defaultPfp {
		font-size: 4rem;
	}
	
	.profile-picture-container:hover label {
		font-size: 2rem;
	}
	
	.profile-bottom-cotainer {
		padding: 2rem;
		padding-top: 3.5rem;
		padding-bottom: 1.5rem;
	}

	.profile-infoBtn {
		font-size: 1rem;
		right: 2rem;
		top: 1rem;
		padding-right: 2.8rem;
		border: 2px solid #4E9F3D;
	}

	.profile-infoBtn:has(input:checked) {
		border: 2px solid #9e9e9e;
	}
	
	.profile-infoBtn span {
		position: absolute;
		/* top: .45rem; */
		right: 1rem;
		font-size: 1.3rem;
	}
	
	.userInfo-container {
		gap: 1rem;
	}
	
	.userInfo-name {
		font-size: 1.6rem;
		color: #eee;
	}
	
	.userInfo-name span {
		right: -1.8rem;
		top: .2rem;
		font-size: 1.4rem;
	}

	.userInfo-tag {
		font-size: 1rem;
	}
	
	.userInfo-bio {
		border-radius: .3rem;
	}
	
	.userInfo-bio p {
		font-size: 1rem;
	}
	
	.userInfo-follows {
		font-size: 1rem;
	}

	.profile-posts {
		margin-top: .7rem;
	}
}

/* 
#D8E9A8
#4E9F3D
#1E5128
#191A19 
*/